*{
    margin:0px;
}
body{
    
    height: 1000px;
    
}
header{
  display: flex;
  flex-direction: column;
  height: 640px;
  background-color: #bf0a30;
  width: 100%;
  
}
.address{
    min-width: 280px;
    height: 60px;
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 5px;
}
.background{
    position: absolute;
    width: 100%;
    height: 640px;
    z-index: 1;
    z-index: 1;
    
    
}
.first-section-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    width: 100%;
    height: 60px;
    gap: 500px;
    border-bottom: 1px solid #8d9297;
    align-items: center;
    z-index: 2;
    
}
.icons{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 305px;
    height: 61px;
}
.second-section-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 100%;
    height: 90px;
    z-index: 2;
    justify-content: space-around;
    border-bottom: 1px solid #8d9297;
    
}

nav{
    display: flex;
    gap: 20px;
}
.logo{
    width: auto;
    height: 50px;
    display: flex;
    align-self: center;
    flex-direction: row;
    position: relative;
    right: 50px;
}
ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    align-items: center;

}
ul li{
    font-size: 15px;

}
a{
    text-decoration: none;
    color: white;
}
.facebook{
    width: 25px;
    height: 61px;
    border-left: 1px solid #8d9297;
    display: flex;
    align-items: center;
}
.icon{
    position: relative;
    left: 13px;
}
.donate{
    background-color: rgb(201, 14, 61);
    width: 100px;
    height: 30px;
    color: white;
    border-radius: 5px;
    border: none;
    position: relative;
    
}
.nav-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 91px;
    gap: 350px;
}
.hero{
    display: flex;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 300px;
    gap: 10px;
}
.done{
    color: #bf0a30;
    font-weight: bolder;
    font-size: 20px;
}
.power{
    color: white;
    font-weight: bolder;
    font-size: 50px;
}
.holy{
    color: white;
    font-weight: bolder;
    font-size: 20px;
    width: 75%;
    display: flex;
    text-align: center;
}
.logo2{
    display: flex;
}
.body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
    background-color: white;
}
.stickers{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 300px;
    background-color: white;
    justify-content: center;
    gap: 30px;
}
.sticker-one{
    border-radius: 10px;
    width: 550px;
    height: 150px;
    position: relative;
    bottom: 50px;
    z-index: 2;
} 
.sticker-two{
    border-radius: 10px;
    width: 550px;
    height: 150px;
    position: relative;
    bottom: 50px;
    z-index: 2;
}
.rain{
    width: 80px;
    height: 50px;
    position: absolute;
    top: 800px;
}
@media screen and (max-width:1150px){
    header{
        min-width: 1075px;
        
    }
    .background{
        min-width: 1078px;
   
    }
    .first-section{
        gap: 470px;
    }
    .second-section-header{
        background-color: white;
        padding-left:3px ;
    }
   .nav-2{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 91px;
        gap: 350px;
    }
    .hero{
        display: flex;
        z-index: 2;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
        height: 300px;
        gap: 10px;
    }
    .done{
        color: #bf0a30;
        font-weight: bolder;
        font-size: 20px;
    }
    .power{
        color: white;
        font-weight: bolder;
        font-size: 50px;
    }
    .holy{
        color: white;
        font-weight: bolder;
        font-size: 20px;
        width: 75%;
        display: flex;
        text-align: center;
    }
    .first-section-header{
        display: none;
    }
    nav{
        display: none;
    }
    .logo{
       display: none;
    }
    .logo{
        display: none;
    }
    .stickers{
        flex-direction: column;
        background-color: white;
        height: 300px;
        width: 1078px;
        margin-top: 50px;
        
    }
    .sticker-two{
        display: none;
    }
    .rain4{
        width: 130px;
        height: 30px;
        position: relative;
        left: 500px;
    }
    .rain{
        display: none;
    }
    .sticker-one{
        position: relative;
        left: 50px;
        border-radius: 30px;
        border: 5px solid white;
    }
   
    
   
}
@media screen and (min-width:1150px) {
   .nav-2{ 
    display: none;
   }
   .rain4{
    display: none;
   }
}
