

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&family=Roboto+Condensed:ital,wght@1,300&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
  
 



*{
    margin:0px;
}
body{
    
    height: 3000px;
    background-color: white;
    
}
header{
  display: flex;
  flex-direction: column;
  height: 640px;
  background-color: #bf0a30;
  width: 100%;
  min-width: 1300px;
  align-items: center;
  
}
.heading{
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    min-width: 100%;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    min-width: 1300px;
}
.first{
    gap: 600px;
    border-bottom: 1px solid #8d929744;
}
.second{
    height: 60px;
    gap: 200px;
}

.address{
    min-width: 280px;
    height: 50px;
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 5px;
}
.background{
    position: absolute;
    width: 100%;
    min-width: 1300px;
    height: 640px;
    z-index: 1;
    z-index: 1;
}

.icons{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 300px;
    height: 50px;
  
}
nav{
    display: flex;
    gap: 20px;
}
.logo{
    width: auto;
    height: 50px;
    display: flex;
    align-self: center;
    flex-direction: row;
    
    
}
ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 0px;
    width: 700px;

}
ul li{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;

}
li:hover{
    color: #bf0a30;
    transition: 0.2s;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: #bf0a30;
    transition: 0.2s;
}
.facebook{
    width: 30px;
    height: 50px;
    border-left: 1px solid #8d929744;
    display: flex;
    align-items: center;
    justify-content: end;
    
    
}
/*  */
.stk{
    width: 100%;
    min-width: 1300px;
    height: 300px;
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: center;
    gap: 30px;
    
}
.stuck{
    width: 100%;
    max-width: 70%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    position: absolute;
    top: 600px;
    z-index: 1;
}

.stickers{
    display: flex;
    width: 543px;
    height: 193px;
    background-color:white;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    justify-content: space-around;
    box-shadow: 1px 1px 10px;
}
.sticker1{
    display: flex;
    width: 150px;
    height: 150px;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.arrow-down{
    width: 30px;
    height: 30px;
    background-color: rgb(201, 14, 61);
    display: flex;
    border-radius: 100px;
    position:relative;
    left: 30px;
    top: 10px;
    justify-content: center;
    align-items: center;
    color: white;
    
}
.box-1{
    width: 90px;
    height: 70px;
    background-color: rgba(241, 142, 191, 0.418);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(201, 14, 61);
    font-size: 23px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.box-2{
    height: 30px;
    width: 90px;
    display: flex;
    background-color:rgb(199, 13, 59);
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bolder;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 20px;

}
.sticker2{
    display: flex;
    background-color: white;
    width: 500px;
    height: 193px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
   
}
.stick-text{
    font-size: 25px;
    font-family:'Poppins', sans-serif ;
    font-weight: 900;
}
.water-drop{
    width: 50px;
    height: 20px;
    background-color: white;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 1;
    justify-content: space-around;
    top: 200px;
    
    
}


.donate{
    background-color: rgb(201, 14, 61);
    width: 100px;
    height: 40px;
    color: white;
    border-radius: 5px;
    border: none;
    position: relative;
    cursor: pointer;
    
}
.nav-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 91px;
    gap: 350px;
}
.hero{
    display: flex;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 300px;
    gap: 10px;
    position: relative;
    top: 40px;
}
.done{
    color: #bf0a30;
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.power{
    color: white;
    font-weight: bolder;
    font-size: 55px;
   
}
.holy{
    color: white;
    
    font-size: 20px;
    width: 75%;
    display: flex;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  
}
.logo2{
    display: flex;
    position:absolute;
    left: 20px;
}


.rain{
    width: 80px;
    height: 50px;
    position: absolute;
    top: 800px;
}
.hero-2{
    background-color: white;
    width: 100%;
    min-width: 1300px;
    height: 700px;
    display: flex;
}
.mainhero-2{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}
.hall{
    position: relative;
    z-index: 3;
    width: 400px;
    height: 400px;
    top: 50px;
    left: 50px;
}
.dot{
    height: 450px;
    width: 300px;
    position: relative;
    z-index: 2;
    top:   100px;
    right: 150px;
}
.img-hero-2{
    width: 550px;
    display: flex;
}
.hero-2-text{
    display: flex;
    flex-direction: column;
    background-color:white;
    width: 550px;
    height: 100%;
    justify-content: center;
    gap: 30px;
   
    
}
.about{
    color: #bf0a30;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}
.hero-2-txt1{
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}
.hero-2-txt2{
    color: grey;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
}
.hero-2-txt3{
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    font-weight: bolder;
}
.hero-2-icons{
    display: flex;
    flex-direction: row;
    width: 65%;
    background-color: white;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    
}
.hero-2icons{
    border: 1px solid #bf0a30;
    border-radius: 100px;
    width: 70px;
    height: 70px;
    background-color: #bf0a30;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.hero2-icon-text{
    display: flex;
    flex-direction: column;
    width: 45%;
    background-color:white;
    gap: 20px;
    height: 200px;
}
.place{
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}
.hero2txt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.learn-more{
    background-color: rgb(201, 14, 61);
    width: 130px;
    height: 50px;
    color: white;
    border-radius: 5px;
    border: none;
    position: relative;

    font-size: 15px;
    cursor: pointer;

}
.section-3{
    width: 100%;
    min-width: 1300px;
    height: 700px;
    background-image: url(./IMG/background.png);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 550px;
    width: 60%;
    min-width: 1230px;
}
.d-two{
    height: 70px;
    width: 150px;
    font-size: 20px;
}
.pray{
    font-family: 'Poppins', sans-serif;
    display: flex;
    width:100%;
    height: 200px;
    /* background-color: red; */
    color: white;
    font-size: 50px;
    text-align: center;
    justify-content: center;
    font-weight: bolder;
}
.story{
    font-family: 'Dancing Script', cursive;
    color: white;
    width: 60%;
    height: 50px;
    /* background-color: blue; */
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 40px;
}
.beliefs{
    font-weight: 600px;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
}
.section-4{
    width: 100%;
    min-width: 1300px;
    height: 1000px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    display: flex;
    flex-direction: column;
    width:100%;
    height: 1000px;
    background-color: white;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}

.text-1{
    width: 250px;
    height: 80px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.ministries{
    color: #bf0a30;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}
.our{
    color: black;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}
.row-box{
    width: 90%;
    max-width: 1225px;
    height: 800px;
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-around;
}
.row-box-2{
    width: 100%;
    height: 800px;
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-around;
}
.row-boxes{
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: white;
    flex-wrap: wrap-reverse;
    height: 500px;
    border-radius: 10px;
    justify-content: space-between;
    border-bottom: 5px solid #bf0a30 ;
}

.row-box-inner{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 30px;
    height: 250px;
    border-bottom-right-radius: 10px;
    
}

.grateful{
    font-size: 18px;
    color: rgb(87, 84, 84);
    font-weight: lighter;
    font-family: 'Poppins', sans-serif;
}
.childrens-ministry{
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.row-boxes:hover .overlay {
    width:357px;
    max-width: 357px;
    height: 200px;
    background-color: #bf0a30;
    position: absolute;
    opacity: 0.8;
    z-index: 2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

h1{
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}
.read-more{
    text-decoration: underline;
    color: #bf0a30;
    font-size: 20px;
}
.row-button{
    width: 70px;
    height: 30px;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 550px;
}
.row-button-one{
    border-radius:100px;
    width: 30px;
    height: 30px;
    background-color: #bf0a30;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-5{
    background: url(./IMG/background.png);
    width: 100%;
    min-width: 1300px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.call-us{
    display: flex;
    flex-direction: column;
    background-color: #bf0a30;
    width: 350px;
    height: 350px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
    left: 100px;
    bottom: 30px;
    border-radius: 5px;
    gap: 30px;
   
}
.contact-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
    background-color:#bf0a30;
    line-height: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.address{
    font-size: 15px;
    
    font-family: 'Poppins', sans-serif;
}
.call{
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}
.hyphen{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}
.phone{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
   
}
.mail{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
 
}
.contact-us{
    width: 800px;
    height: 250px;
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    margin-top: 70px;
    justify-content: space-between;
}
.touch{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #bf0a30;
}
.hesitate{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: white;
}
.free{
    color: white;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    
}
.section-6{
    display: flex;
    width: 100%;
    min-width: 1300px;
    height: 1000px;
    background-color: white;
    justify-content: center;
}
.mainsec-6{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.sec-6sub-box{
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: center;
    gap: 50px;
    
}
.sec6-inner-box{
    background-color: white;
    width: 350px;
    height:90%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0.5px 10px lightgray;
    transition: transform .5s;

}
.sec6-inner-box:hover{
    transform: scale(1.2);
}
.sec-6-text{
    width: 200px;
    height: 100px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 35px;

}
.section-6-text{
    width: 100%;
    height: 200px;
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.sec-6-inner-text{
    width: 90%;
    display: flex;
    height: 70%;
    background-color: white;
    flex-direction: column;
    font-size: 27px;
    gap: 20px;
}
.sec-6-date{
    width: 220px;
    height: 40px;
    display: flex;
    position: relative;
    background-color: #bf0a30;
    color: white;
    justify-content: center;
    align-items: center;
    transform: rotate(270deg);
    right: 91px;
    bottom: 150px;
    border-radius: 5px;
  
}

.section-7{
    background: url(./IMG/background.png);
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 1300px;
    height: 500px;
    border-top: 10px solid white;
    justify-content: center;
 
}
.section-7-sub{
    display: flex;
    flex-direction: row;
    width: 70%;
    min-width: 1300px;
    height: 100%;
    justify-content: center;
    gap: 10px;
    
    
  
}
.about-z{
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
   
}
.about-zegen{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: bolder;
    text-align: center;
    
}
.about-zegen-info{
    font-size: 15px;
    color: white;
    font-family: 'Poppins', sans-serif;
    line-height: 30px;
    
}
.about-zegen-icons{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    color: white;
    gap: 10px;
    align-items: center;
}
.facebook-z{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(51, 51, 148);
    border-radius: 5px;
}
.twitter{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(73, 123, 218);
    border-radius: 5px;
}
.insta{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(207, 53, 117);
    border-radius: 5px;
}
.pintrest{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(180, 21, 29);
    border-radius: 5px;
}
.tissue{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(197, 62, 21);
    border-radius: 5px;
}

.quick-links-list{
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    padding: 0px;
    justify-content: flex-start;
    font-size: 18px;
    height: auto;
    gap: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
}

.giving{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}
.sec-7-one{
    border-bottom: 1px solid gray;
}
.about-zegen-info {
    margin-right: 20px;
}
.giving-text{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    width: 170px;
    height: auto;
    text-align: end;
    font-size: 15px;
    justify-content: space-around;
    color: white;
    
}
.date{
    display: flex;
    width: 170px;
    height: auto;
    font-size: 15px;
    gap: 10px;
    color: gray;
    align-items: center;
    justify-content: start;
    position: relative;
    left: 10px;
    
}
.news-pic{
    border-radius: 10px;
    margin-left: 20px;
}

.news-text{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: white;
    line-height: 30px;
    margin-top: 10px;
}
.news-box{
    display: flex;
    flex-direction: row;
     width: auto;
    height: auto;
}
.email{
    height: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: solid white;
    font-size: 20px;
    width: 200px;
    color: rgba(0, 0, 0, 0.658);
}
.sign-up{
    width: 100px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: solid #bf0a30;
    background-color: #bf0a30;
    font-size: 20px;

}
footer{
    position: absolute;
    width: 100%;
    min-width: 1300px;
    height: 50px;
    background-color:#000f21;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    gap: 500px;
}
.main-footer{
    width: 59%;
    min-width: 1200px;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;

}
#ul-js{
    display: flex;
        flex-direction: column;
        width: 100px;
        height: 200px;
}






 @media screen and (max-width:1150px){
  
   .stuck-m-3{
    display: none;
   }
   .first{
    display: none ;
   }
   nav{
    display: none;
   }
   ul{
    display: none;
   }
   .logo{
    display: none;
   }
   .nav-button{
    display: none;
   }
  
   .second{
    background-color: white;
    justify-content: center;
   }
   .nav-2{
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 1300px;
    height: 100%;
   }

 }

@media screen  and (max-width:750px) {
    body{
      background-color: white;
      height: 10000px;
      display: flex;
      flex-direction: column;
      width: auto;
    }
   
    .hero-2{
        height: 2300px;
        justify-content:start;
        width: 1270px;
        
        display: flex;
        flex-direction: column;

    }
    .hero{
        left: 100px;
    }
    .second-section-header{
        width: 1470px;
        padding: 0px;
    }
    .background{
        width: 1470px;
    }
    .stk{
        width: 1270px;
        background-color: white;
    }
    
   
  
    .dot{
        display: none;
    }
    .img-hero-2{
       
        width: 1270px;
        height: 700px;
        display: flex;
        flex-direction: row;
      
       
    }
    .hall{
        height: 600px;
        width: 700px;
        margin-left: 100px;
       
    }
    .hero-2-text{
        background-color: white;
        flex-direction: column;
        width: 1270px;
        height: 600px;
 

    }
    .hero2-icon-text{
        display: none;
    }
    .hero-2icons{
        border: 1px solid #bf0a30;
    border-radius: 100px;
    width: 70px;
    height: 70px;
    background-color: #bf0a30;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .hero-2-icons{
        display: none;
    }
    .hero-2-icons2{
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 1270px;
        height: 800px;
        background-color: white;
      
    }
     .learn-more{
        width: 300px;
        height: 100px;
        font-size: 30px;
        border-radius: 10px;
    }
    .section-3{
        width: 1270px;
        display: flex;
        flex-direction:column;  
        align-items: center;
    }
    .place{
        margin-left: 30px;
    }
    .hero-2icons{
        margin-left: 30px;
    }
    .beliefs{
        margin-left: 30px;
    }
    .learn-more{
        margin-left: 30px;
    }
    .call-us{
        display: none;
    }
    .row-box-2{
        display: none;
    }
    .row-box-3{
    width: 100%;
    height: 1020px;
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-around;
}
.row-boxes{
    width:90%;
    height: 1000px;
    border-bottom: 10px solid #bf0a30;
}
.childrens-ministry{
    height: 600px;
}
.section-4{
    width: 1270px;
    height: 1400px;
    background-color: white;
    justify-content: center;
}
.row{
    background-color: white;
    height: 1300px;
    gap: 10px;
}
.text-1{
    margin-bottom: 20px;
    width: 400px;
    height: 150px;
    display: flex;
    justify-content: space-between;
}
.ministries{
    font-size: 30px;
}
.our{
    font-size: 45px;
}

h1{
    font-size: 40px;
}
.grateful{
    font-size: 25px;
}
.read-more{
    font-size: 35px;
}
.row-button{
    background-color: white;
    width: 120px;
    height: 50px;
    left: 500px;
}
.row-button-one{
    width: 50px;
    height: 50px;
}
.section-5{
    width: 1270px;
    height: 1300px;
}
.call-us-2{
    height: 700px;
}
.call{
    font-size: 50px;
}
.address{
    font-size: 30px;
}
.phone{
    font-size: 30pxwa;
}
.contact-us{
    margin: 0px;
    width: 95%;
    height: 500px;
    margin-top: 100px;
    position: relative;
    left: 20px;
}

.touch{
    font-size: 35px;
    font-weight: bolder;
}
.hesitate{
    font-size: 50px;
}
.free{
    font-size: 35px;
}
.phone{
    font-size: 30px;  
}
.contact-info{
    gap: 20px;
}
.mail{
    font-size: 30px;
}
.call-us-2{
    gap: 30px;
    line-height: 30px;
}
.section-7{
    width: 1270px;
}
footer{
    width: 1270px;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 150px;
    font-size: 23px;
}
.newsletter{
    height: 400px;
    width: 1250px;
}
.news-box{
    flex-direction:column;
    height: 220px;
    gap: 30px;
}
.email{
    width: 1220px;
    height: 75px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
}
.sign-up{
    width: 1230px;
    height: 83px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 23px;
}
.stuck{
    display: none;
}
.stuck-m-3{
    display: block;
    background-color: white;
    width: 90%;
    justify-content: center;
    display: flex;
    align-items: center;
}
.stickers{
    width: 800px;
    position: absolute;
    top: 600px;
    z-index: 1;
    left: 250px;
}
.sticker1{
    background-color: white;
    width: 200px;
    height: 200px;
}
.box-1{
    width: 110px;
    height: 90px;
    font-size: 30px;
}
.box-2{
    width: 110px;
    height: 40px;
    font-size: 25px;
}
.arrow-down{
    height: 40px;
    width: 40px;
    margin-left: 10px;
}
.stick-text{
    font-size: 30px;
}
.water-drop{
    position: absolute;
    top: 850px;
}
.about-zegen{
    font-size: 35px;
}
.about-zegen-info{
    font-size: 30px;
    width: 600px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    
}
.date{
    font-size: 30px;

    width: 400px;
}
.giving{
   
}

} 
   

    





@media screen and (min-width:1150px) {
   .nav-2{ 
    display: none;
   }
   .rain4{
    display: none;
   }
   .sticker-three{
    display: none;
   }
   .hero-2-icons2{
    display: none;
   }
   .row-box-2{
    display: none;
   }
   .row-box-3{
    display: none;
   }
   .call-us-2{
    display: none;
   }
   .stuck-m-3{
    display: none;
   }
  
}
